<!-- <table class="table text-center col-12">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên câu hỏi</th>
            <th scope="col">Mã môn học</th>
            <th scope="col">Đáp án</th>
            <th scope="col">Quản trị</th>
            <th>
                <a class="btn btn-success" href="/admin/cau-hoi/add">Thêm mới</a>
            </th>
        </tr>
    </thead>
    <tbody *ngIf="data.length >0">
        <tr *ngFor="let ques of data">
            <th scope="row">{{ques.Id}}</th>
            <td>
                <textarea style="border: none; color: black;" disabled name="" id="" cols="40" rows="5">{{ques.Text}}</textarea>
            </td>
            <td>{{ques.AnswerId}}</td>
            <td *ngFor="let ans of ques.Answers">
                <textarea name="" id="" disabled cols="30" rows="5">{{ans.Text}}</textarea>
                <li class="list-group-item">
                    {{ans.Text}}
                </li>
            </td>
            <td>
                <a class="btn btn-success" [routerLink]="'/admin/cau-hoi/edit/'+ 1">Xem</a>
                <a class="btn btn-danger" [routerLink]="'/admin/cau-hoi/delete/'+ 1">Xóa</a>
            </td>
        </tr>
    </tbody> 
</table> -->

<form class="col-10 offset-1">
    {{addQuestionData | json}}
    <div class="form-group row">
        <strong>Câu hỏi</strong>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="addQuestionData.Text" placeholder="Hãy nhập câu hỏi">
        </div>
    </div>
    <div *ng class="form-group row">
        <strong>Đáp án</strong>
        <div class="col-sm-10">
            <input type="text" [(ngModel)]="addQuestionData.Answers.Text" class="form-control" placeholder="Đáp án 1">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</form>
<hr>
<div class="col-10 offset-1">
    <div class="row mt-3" *ngIf="data.length > 0">
        <div class="col-6" style="float: left;" *ngFor="let ques of data; index as stt">
            <a class="btn btn-danger" (onclick)="removeQ(ques.id)">Xóa</a>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">
                    <strong>Câu hỏi: {{stt+1}}</strong>: {{ques.Text}}
                </li>
                <li class="list-group-item" *ngFor="let ans of ques.Answers">
                    Đáp án: {{ans.Text}}
                </li> <br>
            </ul>
        </div>
    </div>
</div>